<div class="container-md">
  <h2 class = "text-center">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if resource.errors.any? %>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="form-floating">
      <%= f.text_field :name, class: "form-control", placeholder: "Name", id: "floatingInput" %>
    </div>

    <div class="form-floating">
      <%= f.email_field :email, class: "form-control", placeholder: "name@example.com", id: "floatingInput" %>
    </div>
    <% else %>
    <div class="form-floating">
      <%= f.text_field :name, class: "form-control", placeholder: "Name", id: "floatingInput" %>
      <label for="floatingInput">Name</label>
    </div>

    <div class="form-floating">
      <%= f.email_field :email, class: "form-control", placeholder: "name@example.com", id: "floatingInput" %>
      <label for="floatingInput">Email address</label>
    </div>
    <% end %>

    <div class="form-floating">
      <%= f.password_field :password, class: "form-control", placeholder: "Password", id: "floatingInput" %>
      <% if @minimum_password_length %>
        <label for="floatingInput">Enter Password <em>(<%= @minimum_password_length %> characters minimum)</em></label>
      <% end %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password", id: "floatingInput" %>
      <label for="floatingInput">Confirm Password</label>
    </div>

    <%= f.hidden_field :status, value: "active" %>

    <div class="d-grid">
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
  <div class = "text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>