<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <%= form_tag(submited_choice_path, method: :post) do %>
        <div class="d-flex justify-content-end">
          <%= submit_tag 'Block', name: 'block', class: 'btn btn-danger mr-2' %>
          <div class="mx-2"></div>
          <%= button_tag type: 'submit', name: 'delete' do %>
            <i class="fa fa-trash-o" style="font-size:24px"></i>
          <% end %>
          <div class="mx-2"></div>
          <%= button_tag type: 'submit', name: 'unblock', class: 'btn btn-success' do %>
            <i class="fa fa-unlock" style="font-size:24px"></i>
          <% end %>
          <div class="ml-2"></div>
        </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <table class="table-users">
        <thead>
          <tr>
            <th><%= check_box_tag 'select_all', nil, false, id: 'selectAll' %></th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Last Login Time</th>
            <th>Registration Time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= check_box_tag 'user_ids[]', user.id, false, class: 'input[type=checkbox]' %></td>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.current_sign_in_at %></td>
              <td><%= user.created_at %></td>
              <td><%= user.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>

<script>
$("#selectAll").click(function() {
  $("input[type=checkbox]").prop("checked", $(this).prop("checked"));
});

$("input[type=checkbox]").click(function() {
  if (!$(this).prop("checked")) {
    $("#selectAll").prop("checked", false);
  }
});

jackHarnerSig();
</script>