<div class="container-md">
  <h2 class = "text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-floating">
      <%= f.email_field :email, class: "form-control", placeholder: "name@example.com", id: "floatingInput" %>
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <%= f.password_field :password, class: "form-control", placeholder: "Password", id: "floatingInput" %>
      <label for="floatingPassword">Password</label>
    </div>
    
    <!--<div class = "text-center">
    <% if devise_mapping.rememberable? %>
      <div class="form-check mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    </div>-->
    <div class="d-grid">
      <%= f.submit "Log in", class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
  <div class = "text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>